body {
    background-image: url("../images/blue-snow.png");
    background-repeat: repeat;
}

button {
    cursor: -webkit-grab;
    cursor: grab;
    transition: filter 1s;
}

button:hover {
    filter: drop-shadow(0 0 30px #333);
}


#startButton {
    background-color: #4aaaa5;
    font-size: 30px;
    color: white;
}

.jumbotron {
    background-color: #4aaaa5;
    color: white;
}

.timer {
    background-color: red;
    font-size: 35px;
    color: white;
    margin: auto auto 20px auto;
    width: 125px;
    border-radius: 25px;
}

.question {
    background-color: rgb(25, 0, 255);
    color: white;
    font-size: 25px;
    border-radius: 25px;
    margin: auto auto 20px auto;
    text-shadow: 2px 2px 4px #000000;
    padding: 10px;
}

.choiceButton {
    background-color: #4aaaa5;
    font-size: 20px;
    border-radius: 25px;
    margin: auto auto 20px auto;
    color: white;
}

.finalResult {
    background-color: rgb(25, 0, 255);
    color: white;
    font-size: 25px;
    border-radius: 25px;
    margin: 0 auto;
    padding: 20px;
}

.result {
    background-color: rgb(25, 0, 255);
    display: inline-flex;
    color: white;
    font-size: 25px;
    border-radius: 25px;
    margin: 0 auto;
    padding: 20px;
}

.incorrectResult {
    background-color: red;
    display: inline-flex;
    color: white;
    font-size: 25px;
    border-radius: 25px;
    margin: 0 auto;
    padding: 20px;
}

.restartButton {
    background-color: #4aaaa5;
    font-size: 30px;
    color: white;
    margin-top: 20px;
}